/*  Google Fonts
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif; 
*/

/* Color 
Primary color: #043873
white: #FFFFFF
yellow: #FFE492
light blue :4F9CF9
black: #212529
*/

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;700&display=swap');

/* Basic CSS */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 1.7;
    background-color: rgb(141, 158, 152);
    color: #fff;
}
.theme-button {
    display: inline-block;
    background: #4F9CF9;
    border-radius: 8px;
    padding: 16px 24px !important;
    text-decoration: none;
    color: #fff;
}
.theme-button:hover {
    color: #fff;
}
.theme-button-two {
    display: inline-block;
    background: #FFE492;
    border-radius: 8px;
    padding: 16px 24px !important;
    text-decoration: none;
    color: #043873;
}
.theme-button-three {
    display: inline-block;
    background: #fff;
    border: 1px solid #FFE492;
    padding: 16px 24px !important;
    text-decoration: none;
    color: #212529;
}
.theme-button img {
    margin-left: 10px;
}
.theme-text h3 {
    font-size: 68px;
    color: #212529;
    margin-bottom: 15px;

}
.theme-text p {
    color: #212529;
}
.theme-text h3 span {
    position: relative;
    z-index: 1;
}
.theme-text h3 span::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(img/span-element.png);
    background-size: auto;
    background-repeat: no-repeat;
}   
.theme-text p {
    color: #212529;
}
@media (max-width: 991px) {
    .theme-text {
        text-align: center;
    }
    .theme-text h3 {
        font-size: 36px;
    }
}
/* Header Css */
.header-area {
    background-color: #043873;
    padding: 16px 0;
    color: #fff;

}
.header-area .nav-link {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500px;
    padding: 16px 24px !important;
}
.header-area .navbar-toggler {
    border: none;
    box-shadow: none;
}
.header-area .theme-button {
    margin-left: 24px;
}
.header-area .theme-button-two {
    margin-left: 24px;
}

@media (max-width: 991px) {
.theme-button {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: 15px;            
    }
.theme-button-two {
    width: 100%;
    text-align: center; 
    margin-left: 0;
    margin-top: 15px;
    }
.header-area .nav-link {
    padding: 16px 0;
}
.header-area .nav-link {
    position: relative;
}
.header-area .nav-link::after {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateX(-50%);
}
}
/* Hero-area css */
.hero-area {
    background-image: url(img/hero-section.png);
    padding: 140px 0;
    background-size: cover;
    background-position: center;
}
.hero-text h3 {
    font-weight: 700;
    font-size: 52px;
}
.hero-area .theme-button {
    margin-top: 30px;
}
@media (max-width: 991px) {
    .hero-area {
        padding: 80px 0;
    }
    .hero-text {
        text-align: center;
    }
    .hero-text h3 {
        font-size: 36px;
    }
    .hero-area .theme-button {
        margin-bottom: 50px;
    }
    .header-area .theme-button {
        margin-left: 0;
    }
    .header-area .theme-button-two {
        margin-left: 0;
    }
}
/* Management area css */
.management-area {
    background-color: #fff;
    padding: 140px 0;
}
.work-management {
    margin-top: 100px;
}
@media (max-width: 991px) {
    .management-area {
       padding: 80px 0;
    }
    .work-management {
        margin-top: 60px;
    }
    .management-area .theme-button {
        margin-bottom: 50px;
    }
}
/* Start extension area */
.extension-area {
    padding: 140px 0;
    background-color: #043873;
}
.extension-area .theme-text h3 {
    color: #fff;
}
.extension-area .theme-text p {
    color: #fff;
}
@media (max-width: 991px) {
    .extension-area {
        padding: 80px 0;
    }
    .extension-area .theme-button {
        margin-bottom: 50px;
    }
}
/* cutomize area css */
.customise-area {
    background-color: #fff;
    padding: 140px 0;
}
@media (max-width: 991px) {
    .customise-area {
        padding: 80px 0;
    }
}
/* price are css */
.price-area {
    background-color: #fff;
    padding: 140px 0;
} 
.price-area .theme-text {
    margin-bottom: 60px;
}
.single-price {
    color: #212529;
    border: 1px solid #FFE492;
    border-radius: 10px;
    padding: 40px 44px;
}
.single-price h4 {
    font-size: 24px;
    font-weight: 500px;
}
.single-price h2 {
    font-size: 36px;
    font-weight: 700px;
    margin: 20px 0;
}
.single-price ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 25px 0;
}
.single-price ul li {
    margin-bottom: 28px;
}
.single-price ul li :last-child {
    margin: 0;
}
.special-price {
    background-color: #043873;
    color: #fff;
    padding: 80px 44px;
}
.special-price h2 {
    color: #FFE492;
}
@media (max-width: 991px) {
.price-area {
    padding: 80px 0;
    } 
.single-price {
    margin-bottom: 30px;
}   
}